.Title {
  font-size: 30px;
  font-weight: 700;
  margin: 30px 0;
}

.Container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.AddressContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  border: 1px solid #6e6d6d;
  border-radius: 10px;
  width: 170%;
}

.Tab {
  font-weight: 700;
}

.Input {
  -webkit-text-fill-color: #000;
  color: #000;
}

.Button {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 200px;
}

.AddressName {
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
}
