.CartContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  width: 100%;
  margin-bottom: 20px;
}

.CartProductsTable {
  width: 70%;
}

.CartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CartItemImage {
  height: 100.5px;
}

.ProductsCell {
  display: flex;
  gap: 20px;
}

.ItemQuantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #131118;
  border-radius: 10px;
  gap: 5px;
  width: 100px;
  padding: 0 15px;
}

.CartProductsList {
  width: 100%;
}

.CartProductsTable p,
.CartProductsList p {
  font-size: 0.875rem;
}

.CartListItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
}

.CartListItemDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 0 10px;
}

.ItemQuantityAndPrice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.DeleteButton {
  padding: 5px 20px;
  align-self: flex-end;
}

.TotalPriceBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
  border: 1px solid #e0e0e0;
  padding: 20px;
  height: 280px;
  margin-top: 20px;
  position: relative;
}

.TotalPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TotalPriceBox > button {
  border-radius: 10px;
  height: 56px;
}

.PromoCodeArea {
  display: flex;
  flex-direction: column;
}

.PromoCodeArea > p {
  font-size: 12px;
}

.PromoCode {
  display: flex;
  flex-direction: row;
}

.PromoCodeMessageGreen {
  height: 18px;
  color: #12e41d;
}

.PromoCodeMessageRed {
  height: 18px;
  color: #f05a46;
}

.PromoCode div {
  border-radius: 10px 0 0 10px;
}

.PromoCode button {
  border-radius: 0 10px 10px 0;
  padding: 8px 30px;
}

@media screen and (width < 1140px) {
  .CartContainer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .CartProductsTable {
    width: 100%;
  }

  .TotalPriceBox {
    width: 40%;
  }
}

@media screen and (width < 768px) {
  .CartItemImage {
    height: 100px;
  }

  .TotalPriceBox {
    width: 50%;
  }
}

@media screen and (width < 600px) {
  .CartListItem {
    padding-left: 0;
    padding-right: 0;
    gap: 10px;
  }

  .DeleteButton {
    padding: 5px 0;
  }

  .TotalPriceBox {
    width: 70%;
  }
}
