.product_modal {
  padding: 60px 20px 20px 20px;
}

.modal_carousel {
  width: 600px;
}

.image {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
}

@media screen and (width < 900px) {
  .modal_carousel {
    width: 500px;
  }
}

@media screen and (width < 630px) {
  .modal_carousel {
    width: 300px;
  }
}

@media screen and (width < 410px) {
  .modal_carousel {
    width: 260px;
  }
}
