.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 200px auto;
  text-align: center;
}

.text,
.text_heading {
  font-family: 'Segoe UI', sans-serif;
}

.text_heading {
  font-size: 5rem;
  color: rgb(58, 128, 160);
}

.text {
  font-size: 1.5rem;
  color: rgb(94, 200, 241);
}

.category_heading {
  font-size: 2rem;
  font-weight: 200;
  margin: auto;
  text-align: center;
  user-select: none;
}

.productsContainer {
  display: flex;
  justify-content: center;
}

.drawerButton {
  width: 5%;
  height: 100vh;
  position: fixed;
  cursor: pointer;
  left: 0;
  top: 0;
}

.drawerButton:hover {
  background-color: #aaa;
}

.arrow {
  color: #111;
  width: 30px;
  height: 30px;
}

.category_section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 150px auto 30px auto;
}

.category_divider {
  position: relative;
  width: 50%;
  margin: 30px auto;
}

.category_skeleton {
  position: relative;
  width: 70%;
  height: 440px;
  margin: auto;
  -webkit-transform: none;
  transform: none;
}
