.container {
  width: 50%;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.subTitle {
  color: #a4a1aa;
  margin: 10px 0 20px;
  font-size: 18px;
}

.form,
.addressBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.addressBox {
  width: 50%;
}

.button {
  padding-top: 15px;
  padding-bottom: 15px;
}
