.CartPage__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: calc(100dvh - 100px);
  margin: 100px auto 0;
}

.CartPage__Title {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0 15px 16px;
}

@media screen and (width < 1200px) {
  .CartPage__container {
    width: 90%;
  }
}
